.init-header {
	width: 100%;
	text-align: center;
	padding: 20px 0;
	margin-bottom: 20px;
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	z-index: 100;
	background: lightslategrey;
}

.toolbar {
	display: flex;
	justify-content: space-around;
	width: 90%;
	margin: auto;
}

.toolbar-btn {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: 0.5em 1em 0.55em;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: linear-gradient(#faa51a, #f47a20);
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#faa51a),
		to(#f47a20)
	);
	background: -moz-linear-gradient(top, #faa51a, #f47a20);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.toolbar-btn:hover {
	text-decoration: none;

	background: #f47c20;
	background: linear-gradient(#f88e11, #f06015);
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#f88e11),
		to(#f06015)
	);
	background: -moz-linear-gradient(top, #f88e11, #f06015);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.toolbar-btn:active {
	position: relative;
	top: 1px;

	color: #fcd3a5;
	background: linear-gradient(#f47a20, #faa51a);
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#f47a20),
		to(#faa51a)
	);
	background: -moz-linear-gradient(top, #f47a20, #faa51a);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

.preroll-form {
	position: relative;
	width: 50%;
	margin: 100px auto;
	background: white;
	padding: 10px;
	border-radius: 5px;
	border: var(--default-border);
}

.preroll-form h3 {
	font-size: 1rem;
}

.close-preroll {
	position: absolute;
	top: 0px;
	right: 0px;
	border: 0;
	background: transparent;
	color: red;
	font-size: 1.5rem;
}

.preroll-input {
	width: 30px;
}

.preroll-submit {
	display: block;
	margin: auto;
	width: 80%;
	font-weight: bold;
	background: rgb(160, 26, 26);
	color: white;
	margin-top: 20px;
	border-radius: 5px;
	border: var(--default-border);
}

.preroll-input:focus {
	box-shadow: none;
}

@media only screen and (min-width: 400px) {
	.toolbar {
		width: 400px;
	}

	.preroll-form h3 {
		font-size: 1.17em;
	}

	.preroll-submit {
		font-size: 1.25rem;
	}
}
