.init-header {
	width: 100%;
	text-align: center;
	padding: 20px 0;
	margin-bottom: 20px;
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	z-index: 100;
	background: lightslategrey;
}

.toolbar {
	display: flex;
	justify-content: space-around;
	width: 70%;
	margin: auto;
}
