.init-creature {
	display: flex;
	width: 80%;
	margin-bottom: 5px;
	list-style: none;
	padding: 5px 10px;
	border: var(--default-border);
	border-radius: var(--border-radius);
	font-weight: bold;
}

.init-number {
	width: 40px;
	padding: 5px;
	border-radius: 5px;
}

.creature {
	align-self: flex-end;
	background: lightpink;
}

.creature-hp {
	width: 50px;
	text-align: center;
}

.max-hp {
	width: 50px;
	text-align: center;
}

.player {
	background: lightgreen;
}

.creature-name-input {
	font-weight: bold;
	width: 40%;
}
