:root {
	--border-radius: 5px;
	--default-border: 2px solid black;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.input {
	display: inline-block;
	border-radius: 5px;
	border: 1px solid gray;
	margin: 0 5px;
}

.input:focus {
	outline: none !important;
	border: 1px solid black;
	box-shadow: inset 0 0 5px rgb(122, 121, 121);
}

.pretty-input {
	display: block;
	align-self: center;
	background: transparent;
	border: none;
	border-bottom: 2px solid black;
	font-size: 1.1rem;
	transition: 0.2s;
}

.pretty-input:focus {
	outline: none !important;
	border-bottom: 2px solid #f90;
	transition: 0.2s;
	/* box-shadow: inset 0 0 5px black; */
}

.hidden {
	display: none;
	transition: 0.3s;
}
